<div class="monAlbumVip">
    {{#each album}}
    <div id="star{{inc @index}}" class="divImgVipAlbum">
        <a  href="/album/{{this.VIP_NUMERO}}/1">
            <img id="imgVipAlbum" src="/images/vip/{{this.PHOTO_ADRESSE}}" title="Vip n°{{this.VIP_NUMERO}}" alt="Photo officiel vip">
        </a>
    </div>
    {{/each}}

    <div class="boutonNavigationAlbum">
        <div class="boutonNavigationAlbumGauche">
            <div id="debut" class="btnDebut">
                <a onclick="pageOne()">Début</a>
            </div>
            <div id="precedent" class="btnPrecedent">
                <a onclick="pagePrevious()">Précédent</a>
            </div>
        </div>
        <div class="boutonNavigationAlbumDroit">
            <div id="suivant" class="btnSuivant">
                <a onclick="pageNext()">Suivant</a>
            </div>
            <div id="fin" class="btnFin">
                <a onclick="pageLast()">Fin</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

var page = 1;
var decodedJson = decodeURIComponent("{{{encodedJson}}}");
jsonObj = JSON.parse(decodedJson);
var maxPage = Math.floor(jsonObj.length / 12)+1;
afficherPage(page,jsonObj,false);


function afficherPage(page,jsonObj,pageChange) {

    for (var i = 1; i <= jsonObj.length; i++) {
        document.getElementById("star"+i).style.display = "inline-block";
        document.getElementById("star"+i).style.opacity = 0.5;
    }
    var numero = parseInt(window.location.pathname.split('/')[2]);
    for (var i = 0; i < jsonObj.length; i++) {
        if(jsonObj[i].VIP_NUMERO == numero){
            var id = i+1;
            document.getElementById("star"+id).style.opacity = 1;
            if(!pageChange)
            page = Math.ceil(id / 12);
        }
    }

    for (var i = 1; i <= (page-1)*12 ; i++) { //supprime les photos avant
        document.getElementById("star"+i).style.display = "none";
    }

    for (var i = 12*page+1; i<= jsonObj.length; i++) { // supprime après
        document.getElementById("star"+i).style.display = "none";
    }

    if(page === 1) {
        document.getElementById("debut").style.display = "none";
        document.getElementById("precedent").style.display = "none";
        document.getElementById("fin").style.display = "inline-flex";
        document.getElementById("suivant").style.display = "inline-flex";
    }

    if (page === maxPage){
        document.getElementById("fin").style.display = "none";
        document.getElementById("suivant").style.display = "none";
        document.getElementById("debut").style.display = "block";
        document.getElementById("precedent").style.display = "block";
    }

    if(page != maxPage && page != 1) {
        document.getElementById("debut").style.display = "inline-flex";
        document.getElementById("precedent").style.display = "inline-flex";
        document.getElementById("fin").style.display = "inline-flex";
        document.getElementById("suivant").style.display = "inline-flex";
    }
}

function pageOne(){
    page = 1;
    afficherPage(page,jsonObj,true);
};

function pagePrevious(){
    if(page!=1)
    page = page - 1;
    afficherPage(page,jsonObj,true);
};

function pageNext(){
    if(page!=maxPage)
    page = page + 1;
    afficherPage(page,jsonObj,true);
};

function pageLast(){
    page = maxPage;
    afficherPage(page,jsonObj,true);
};;
</script>
