{{> repertoireListe}}

<div class="biographieVIP">
    <img src="/images/vip/{{photo.PHOTO_ADRESSE}}" alt="photo n° {{photo.PHOTO_ADRESSE}}">

    <p>
        <b>Nom :</b>
        {{identityDetailsVip.VIP_NOM}} {{identityDetailsVip.VIP_PRENOM}}
    </p>
    <p>
        <b>Date de naissance :</b>
        {{formatDate identityDetailsVip.VIP_NAISSANCE 'dddd D MMMM YYYY'}}
    </p>
    <p>
        <b>Nationalité :</b>
        {{nationaliteVip.NATIONALITE_NOM}}
    </p>

    {{#if realisateur}}
    <p>
        <b>Profession : </b>
        {{#ifCond identityDetailsVip.VIP_SEXE '==' 'M'}} Réalisateur
        {{else}} Réalisatrice
        {{/ifCond}}
        <br>
        <b>Principal(aux) film(s) :</b>
        {{#each realisateur}}
        <span>{{#if this.FILM_TITRE}}{{this.FILM_TITRE}} ({{formatDate this.FILM_DATEREALISATION 'MMMM YYYY'}}){{/if}}</span>
        <br>
        {{/each}}
    </p>
    {{/if}}

    {{#if mannequin}}
    <p>
        <b>Profession : </b> Mannequin
        <br>
        <b>Principal(aux) défilé(s) :</b>
        {{#each mannequin}}
        <span>{{#if this.DEFILE_LIEU}}{{this.DEFILE_LIEU}} ({{formatDate this.DEFILE_DATE 'MMMM YYYY'}}){{/if}} de
            <a class="tooltip" href="">
                {{this.VIP_PRENOM}} {{this.VIP_NOM}}

                <span>
                    <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="photo">
                    <b>{{this.VIP_PRENOM}} {{this.VIP_NOM}}</b><br>
                    {{this.VIP_TEXTE}} ...
                </span>
            </a>
        </span>
        <br>
        {{/each}}
    </p>
    {{/if}}

    {{#if chanteur}}
    <p>
        <b>Profession : </b>
        {{#ifCond identityDetailsVip.VIP_SEXE '==' 'M'}} Chanteur ({{chanteur.0.CHANTEUR_SPECIALITE}})
        {{else}} Chanteuse ({{chanteur.0.CHANTEUR_SPECIALITE}})
        {{/ifCond}}
        <br>
        <b>Principal(aux) album(s) :</b>
        {{#each chanteur}}
        <span>{{#if this.ALBUM_TITRE}}{{this.ALBUM_TITRE}} ({{formatDate this.ALBUM_DATE 'MMMM YYYY'}}){{/if}}</span>
        <span>{{#if this.MAISONDISQUE_NOM}}{{this.MAISONDISQUE_NOM}}{{/if}}</span>
        <br>
        {{/each}}
    </p>
    {{/if}}

    {{#if couturier}}
    <p>
        <b>Profession : </b>
        {{#ifCond identityDetailsVip.VIP_SEXE '==' 'M'}} Couturier
        {{else}} Couturière
        {{/ifCond}}
        <br>
        <b>Principal(aux) défilé(s) :</b>
        {{#each couturier}}
        <span>{{#if this.DEFILE_LIEU}}{{this.DEFILE_LIEU}} ({{formatDate this.DEFILE_DATE 'MMMM YYYY'}}){{/if}} avec
            <a class="tooltip" href="">
                {{this.VIP_PRENOM}} {{this.VIP_NOM}}

                <span>
                    <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="photo">
                    <b>{{this.VIP_PRENOM}} {{this.VIP_NOM}}</b><br>
                    {{this.VIP_TEXTE}} ...
                </span>
            </a>
        </span>
        <br>
        {{/each}}
    </p>
    {{/if}}

    {{#if acteur}}
    <p>
        <b>Profession : </b>
        {{#ifCond identityDetailsVip.VIP_SEXE '==' 'M'}} Acteur
        {{else}} Actrice
        {{/ifCond}}
        <br>
        <b>Principal(aux) film(s) :</b>
        {{#each acteur}}
        <span>
            {{#if this.FILM_TITRE}}{{this.FILM_TITRE}} ({{formatDate this.FILM_DATEREALISATION 'MMMM YYYY'}}){{/if}}
            {{#if this.VIP_NOM}}de
                <a class="tooltip" href="">
                    {{this.VIP_PRENOM}} {{this.VIP_NOM}}

                    <span>
                        <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="photo">
                        <b>{{this.VIP_PRENOM}} {{this.VIP_NOM}}</b><br>
                        {{this.VIP_TEXTE}} ...
                    </span>
                </a> {{/if}}
        </span>
        <br>
        {{/each}}
    </p>
    {{/if}}

    {{#each mariageVip}}
    <span>
        <b>Mariage :</b>
        <a class="tooltip" href="">
            {{this.VIP_PRENOM}} {{this.VIP_NOM}}

            <span>
                <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="photo">
                <b>{{this.VIP_PRENOM}} {{this.VIP_NOM}}</b><br>
                {{this.VIP_TEXTE}} ...
            </span>
        </a>

        ({{formatDate this.DATE_EVENEMENT 'dddd D MMMM YYYY'}}{{#if this.MARIAGE_FIN}} --> {{formatDate this.MARIAGE_FIN 'dddd D MMMM YYYY'}} {{/if}})
        <b>Lieu :</b>
        {{this.MARIAGE_LIEU}}
    </span>
    <br>
    {{/each}}

    <br>

    {{#each liaisonVip}}
    <span>
        <b>Liaison :</b>
        <a class="tooltip" href="">
            {{this.VIP_PRENOM}} {{this.VIP_NOM}}

            <span>
                <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="photo">
                <b>{{this.VIP_PRENOM}} {{this.VIP_NOM}}</b><br>
                {{this.VIP_TEXTE}} ...
            </span>
        </a>

        ({{formatDate this.DATE_EVENEMENT 'dddd D MMMM YYYY'}})
        <b>Raison fin liaison :</b>
        {{this.LIAISON_MOTIFFIN}}
    </span>
    <br>
    {{/each}}

    <p>
        <b>Qui suis-je ? :</b>
        {{identityDetailsVip.VIP_TEXTE}}
    </p>

    <div class="allPhotosVip">
        {{#each photosVip}}
        {{#ifCond this.PHOTO_NUMERO '!==' 1}}
        <a href="/images/vip/{{this.PHOTO_ADRESSE}}" data-lightbox="photosVip" data-title="<p><span style:'font-size:large'>{{this.PHOTO_SUJET}}</span> - {{this.PHOTO_COMMENTAIRE}}</p>">
            <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="photo n° {{this.PHOTO_NUMERO}}">
        </a>
        {{/ifCond}}
        {{/each}}
    </div>

</div>
